<a href="https://colab.research.google.com/github/shrishh9/Basic-Python/blob/main/Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a= float(input('enter first side:'))
b= float(input('enter second side:'))
c= float(input('enter third side:'))
#calculate the semi perimeter
s=(a+b+c)/2
#calculate the area
area=(s*(s-a)*(s-b)*(s-c))**0.5
print(area)

enter first side:10
enter second side:200
enter third side:500
(3.212583543310376e-12+52465.47078793823j)

In [ ]:
a= float(input('enter length:'))
b= float(input('enter width:'))
area=a*b
print(area)

enter length:10
enter width:10
100.0

In [ ]:
r= float(input('enter radius:'))
area= 3.14*r*r
print(area)

enter radius:7
153.86

In [ ]:
sub1=int(input('enter marks of first subject'))
sub2=int(input('enter marks of second subject'))
sub3=int(input('enter marks of third subject'))
avg=float((sub1+sub2+sub3)/3)
if(avg>=90):
  print('grade:A')
elif(avg>=80 and avg<90):
  print('grade:B')
elif(avg>=70 and avg<80):
  print('grade:C')
elif(avg>=60 and avg<70):
  print('grade:D')
else:
  print('grade:F')

enter marks of first subject89
enter marks of second subject75
enter marks of third subject77
grade:B

In [ ]:
import cmath
a= float(input('enter the value of coeffiecient a:'))
b= float(input('enter seconf coeffient:'))
c= float(input('enter third coefficient:'))
#calculate discriminant
d=(b**2)-(4*a*c)
#find two solutions
sol1=(-b-cmath.sqrt(d)/2*a)
sol2=(-b+cmath.sqrt(d)/2*a)
print('the solution are:',sol1,sol2)

enter the value of coeffiecient a:2
enter seconf coeffient:4
enter third coefficient:6
the solution are: (-4-5.656854249492381j) (-4+5.656854249492381j)

In [1]:
a=int(input('enter first digit:'))
b=int(input('enter second digit:'))
c=int(input('enter third digit:'))
d=[]
d.append(a)
d.append(b)
d.append(c)
for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      if(i!=j & j!=k & k!=i):
        print(d[i],d[j],d[k])

enter first digit:1
enter second digit:2
enter third digit:3
1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [3]:
row=int(input('enter the number of rows '))
for i in range(row):
  print(' '*i," *"*(row-i))

enter the number of rows 10
  * * * * * * * * * *
   * * * * * * * * *
    * * * * * * * *
     * * * * * * *
      * * * * * *
       * * * * *
        * * * *
         * * *
          * *
           *

In [5]:
r=int(input('enter the number of rows '))
c=int(input('enter the number of coloumbs '))
matrix=[]
print('enter the entries rowwise:')
for i in range(r):
  a=[]
  for j in range(c):
    a.append(int(input()))
  matrix.append(a)
for i in range(r):
  for j in range(c):
    print(matrix[i][j], end="")
  print()

enter the number of rows 2
enter the number of coloumbs 3
enter the entries rowwise:
1
2
3
4
3
2
123
432